* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f0;
}

header {
    background: #3c3c3b;
    color: #ebebd3;
    text-align: left;
    padding: 0.5rem;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 18px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container h1 {
    margin: 0;
    padding-right: 10px;
}

header a {
    color: #ebebd3;
    text-decoration: none;
}

header a:hover {
    color: #f5d547;
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar a {
    color: #ebebd3;
    text-decoration: none;
}

.claire:hover {
    color: #f5d547
}

.wang:hover {
    color: #1446a0
}

.workbar a:hover {
    color: #db3069;
}

footer {
    background: #3c3c3b;
    color: #ebebd3;
    text-align: left;
    padding: 1rem;
}

main {
    padding: 20px;
}